---
const {
  href,
  className = "",
  ariaLabel,
  title,
  disabled = false,
} = Astro.props;
---

{
  disabled ? (
    <span class="" title={title} aria-disabled={disabled}>
      <slot />
    </span>
  ) : (
    <a {href} class="" aria-label={ariaLabel} title={title}>
      <slot />
    </a>
  )
}
